@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}


@media screen and (max-width:767px){
  .notifications{
    flex-direction: column;
    padding:1rem;
  }
}

